.header{
    min-height: 52px;
    padding: 20px 29px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
}
.links {
    display: flex;
    width: 50%;
}
.humburger {
    padding-top: 5px;
    margin-right: 59px;
    cursor: pointer;
    &__span {
        display: block;
        width: 32px;
        background-color: #262633;
        border: 1px solid #262633;
        border-radius: 2px;
    }
    &__span:last-child {
        width: 17px;
        margin-top: 10px;
    }
}
.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 408px;
    &__link {
        font-family: 'Golos';
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #262633;
    }
}
.logo {
    margin: 0 89px 0 79px;
    img {
        width: 132px;
    }
}
.comparison {
    width: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    &__span {
        display: block;
        border: 1px solid #C9C9CF;
        background-color: #C9C9CF;
        &:nth-child(1) {
            height: 7px;
            margin-right: 4px;
        }
        &:nth-child(2) {
            height: 16px;
            margin-right: 4px;
        }
        &:nth-child(3) {
            height: 11px;
        }
    }
}
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
}
.service {
    display: flex;
}
.search {
    margin-left: 26px;
    cursor: pointer;
    &__span {
        display: block;
        border: 2px solid #C9C9CF;
        &:nth-child(1) {
            width: 15px;
            height: 15px;
            border-radius: 100%;
        }
        &:nth-child(2) {
            width: 6px;
            height: 0.5px;
            background-color: #C9C9CF;
            border: 1px solid #C9C9CF;
            border-radius: 2px;
            transform: rotate(-45deg) translate(-1px, -3px);
        }
    }
}
