.map {
    width: 100%;
    height: 560px;
}
.ymaps-2-1-77-map-copyrights-promo {
    display: none;
}
.ymaps-2-1-77-copyright__wrap {
    display: none!important;
}
.ymaps-2-1-77-controls__control {
    display: none!important;
}
canvas {
	filter: grayscale(1)!important;
}
